.wrapper-nav {
  background-color: _palette(invert, bg-alt);
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  color: _palette(midnightGrey);
  font-weight: 600;
  border-bottom: 1px solid #dddddd;

  a,
  .language {
    cursor: pointer;
  }

  .primary {
    a {
      background-color: _palette(orange) !important;
      color: #ffffff !important;

      &:hover {
        background-color: _palette(invert, orange) !important;
      }
    }
  }

  .secondary {
    a {
      background-color: _palette(blue) !important;
      color: #ffffff !important;

      &:hover {
        background-color: _palette(invert, blue) !important;
      }
    }
  }

  .nav-group-standard {
    padding: 0.5em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .container-links,
    ul,
    .container-language-selection,
    .container-logo {
      display: flex;
    }

    ul,
    .container-language-selection {
      align-items: center;
      justify-items: center;
    }

    .container-language-selection {
      .full {
        display: none;
      }
    }

    .container-logo {
      margin: 0 50px 0 0.175em;
      a {
        margin: 0;
        padding: 0;
        display: flex;
        background-color: #ffffff !important;
      }
    }

    img {
      width: 250px;
      height: auto;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      list-style-type: none;
      margin: 0 0.175em;
      padding: 0;
    }

    .separator {
      display: inline-block;
      background: #000000;
      width: 1px;
      height: 24px;
      margin: 0 1px;
    }

    a,
    .language {
      text-decoration: none;
      transition: _duration(transition);
      font-size: 0.9em;
      padding: 0.5em 1.25em;
      border-radius: _size(border-radius);
      font-weight: 1000;
      border: none;
      color: _palette(midnightGrey);
      white-space: nowrap;

      &:hover {
        background-color: _palette(invert, border-bg);
      }
    }

    .language-active {
      span.acronym {
        text-decoration: underline;
      }
    }

    span {
      font-weight: 1000;
      color: #000000;
    }

    .primary,
    .secondary {
      margin: 0 12px;
    }

    @media only screen and (max-width: 1024px) {
      flex-wrap: wrap;
      align-items: center;

      .container-logo {
        margin: 0 20px 0 0;
      }

      a,
      .language {
        padding: 0.5em 0.75em;
      }
    }

    @media only screen and (max-width: 1120px) {
      .container-logo {
        margin: 5px 0px 15px 0;
      }
    }
  }

  .nav-group-collapsed {
    display: none;

    @media only screen and (max-width: 768px) {
      display: block;
    }

    img {
      width: 200px;
      height: auto;
      max-height: 60px;
    }

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.3em 1em;
    }

    .container-logo {
      a {
        display: flex;
        margin: 0;
        padding: 0;
      }
    }

    .container-btn {
      width: 40px;
      height: 34px;
      padding: 1px;
      position: relative;
      transform: rotate(0deg);
      transition: _duration(transition);
      cursor: pointer;
      margin-top: 7px;

      span {
        display: block;
        position: relative;
        height: 4px;
        width: 100%;
        background: #000000;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
      }

      span:nth-child(1) {
        transform-origin: left center;
      }

      span:nth-child(2) {
        top: 6px;
        transform-origin: left center;
      }

      span:nth-child(3) {
        top: 12px;
        transform-origin: left center;
      }
    }

    .bottom {
      max-height: 0px;
      height: 100%;
      overflow: hidden;
      padding: 0;
      transition: _duration(transition);

      .separator {
        display: none;
      }

      span,
      a {
        &:hover {
          color: _palette(blue);
          transition: color _duration(transition);
        }
      }

      li {
        padding: 0 2em;
        border-bottom: 1px solid _palette(lightGrey);
      }

      a {
        padding: 1em 0;
      }

      a,
      .language {
        display: block;
      }

      .language {
        padding: 1em 2em;
      }

      .language {
        border-bottom: 1px solid _palette(lightGrey);
      }

      .first-set {
        .primary,
        .secondary {
          display: none;
        }
      }

      .second-set {
        li:not(.primary):not(.secondary) {
          display: none;
        }
      }

      .primary,
      .secondary {
        padding: 1em 2em;
        transition: _duration(transition);

        a {
          color: #ffffff;
          display: block;
          text-align: center;
          padding: 0.5em;
          transition: _duration(transition);
          border-radius: 5px;
        }
      }
    }

    .container-language-selection {
      .acronym {
        display: none;
      }

      .full {
        display: inline-block;
        text-transform: uppercase;
      }

      .language-active {
        .full {
          text-decoration: underline;
        }
      }

      .language {
        transition: _duration(transition);
        &:hover {
          color: _palette(blue) !important;
        }
      }
    }

    ul,
    li,
    a {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-decoration: none;
      border: none;
    }
  }

  .nav-group-collapsed.open {
    .top {
      border-bottom: 1px solid _palette(invert, border);
    }

    .container-btn {
      span:nth-child(1) {
        left: 8px;
        transform: rotate(45deg);
      }

      span:nth-child(2) {
        width: 0;
        opacity: 0;
      }

      span:nth-child(3) {
        top: 19px;
        left: 8px;
        transform: rotate(-45deg);
      }
    }

    .bottom {
      max-height: 680px;
    }
  }

  @media only screen and (max-width: 768px) {
    .nav-group-standard {
      display: none;
    }
  }
}

.banner {
  background-color: #ffd966;

  .container {
    text-align: center;
    padding: 10px;
  }

  a,
  p {
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: _palette(midnightGrey);
    font-weight: 1000;
  }
}
